<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExchangeCurrency.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB7E86E12C7789C600219782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB7E86F12C7789CC00219782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB7E86FB2C7789CC00219782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
